Repository whitphx/slidev-addon-window-mockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,vue}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write"],
  "README.md": ["prettier --write"]
}

Add changeset
  .changeset/sixty-rabbits-retire.md
Due: none

Refactoring remove mw prefix css (#16)
  .changeset/sixty-rabbits-retire.md
  components/WindowMockup.vue
Due: prettier --write, eslint --fix

Update title samples
  slides.md
Due: none

Add changeset
  .changeset/thin-buttons-scream.md
Due: none

Title sample (#17)
  .changeset/thin-buttons-scream.md
  slides.md
Due: none

Update the first page of the sample slides
  slides.md
Due: none

Update README.md
  README.md
  assets/cover.png
Due: prettier --write

Add changeset
  .changeset/whole-eels-help.md
Due: none

Docs v0.3.0 (#18)
  .changeset/whole-eels-help.md
  README.md
  assets/cover.png
  slides.md
Due: prettier --write

Update slides.md
  slides.md
Due: none

Add magic-move example
  slides.md
Due: none

Fix slides.md
  slides.md
Due: none

Update README.md
  README.md
Due: prettier --write

Update README.md about addon config
  README.md
Due: prettier --write

Update README.md about addon config (#19)
  README.md
Due: prettier --write

Pin GHA actions with Git SHA
  .github/workflows/ci.yml
Due: none

Pin GHA actions with Git SHA (#21)
  .github/workflows/ci.yml
Due: none

Update slides.md adding a multi-line shiki example
  slides.md
Due: none

Allow esbuild to run postinstall
  pnpm-workspace.yaml
Due: none

Allow esbuild to run postinstall (#40)
  pnpm-workspace.yaml
Due: none

ci: Add dependency review workflow and Dependabot cooldown
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

ci: Add dependency review workflow and Dependabot cooldown (#70)
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

ci: Run package installs through Aikido Safe Chain
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

ci: Pin Aikido Safe Chain installer version and verify its SHA-256
  .github/actions/setup/action.yml
Due: none

ci: Scope the composite action to the Safe Chain install only
  .github/actions/install-safe-chain/action.yml
  .github/workflows/ci.yml
Due: none

ci: Run package installs through Aikido Safe Chain (#72)
  .github/actions/install-safe-chain/action.yml
  .github/workflows/ci.yml
Due: none

chore: Replace ESLint and Prettier with Oxc toolchain
  .lintstagedrc.json
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

style: Reformat codebase with oxfmt
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  components/WindowMockup.vue
  package.json
Due: prettier --write, eslint --fix

chore: Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

chore: Enable oxlint type-aware linting
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: none

refactor: Resolve oxlint type-aware warnings
  setup/transformers.ts
  test/_tutils.ts
Due: prettier --write, eslint --fix

chore: Add changeset for Oxc toolchain migration
  .changeset/migrate-to-oxc-toolchain.md
Due: none

chore: Allow pnpm format/lint via Claude Code permissions
  .claude/settings.json
Due: none

chore(deps): Refresh vite lockfile to resolve security advisories
  .changeset/bump-vite-security.md
  pnpm-lock.yaml
Due: none

chore(deps): Override dompurify to >=3.4.0 for security
  .changeset/override-dompurify-security.md
  package.json
  pnpm-lock.yaml
Due: none

style: Reorder package.json fields to satisfy oxfmt
  package.json
Due: none

chore(deps): Bump transitive js-yaml to 3.14.2 for security
  .changeset/bump-js-yaml-security.md
  pnpm-lock.yaml
Due: none
