Repository whitphx/slidev-addon-window-mockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add .github/workflows/ci.yml and .github/dependabot.yml from slidev-addon-fancy-arrow
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Add packages such as vitest and changeset and add some files
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add .nvmrc
  .nvmrc
Due: none

Add a mock test file
  components/test.test.js
Due: prettier --write, eslint --fix

Add @slidev/theme-default
  package.json
  pnpm-lock.yaml
Due: none

Add NPM_TOKEN (temporarily)
  .github/workflows/ci.yml
Due: none

Remove NPM_TOKEN for trusted publishing
  .changeset/happy-kids-jump.md
  .github/workflows/ci.yml
Due: none

Remove NPM_TOKEN for trusted publishing (#1)
  .changeset/happy-kids-jump.md
  .github/workflows/ci.yml
Due: none

terminal mode
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Code block blend mode
  components/WindowMockup.vue
  setup/transformers.ts
  slides.md
Due: prettier --write, eslint --fix

Add changeset
  .changeset/strong-news-peel.md
Due: none

Codeblock style blend mode (#3)
  .changeset/strong-news-peel.md
  components/WindowMockup.vue
  setup/transformers.ts
  slides.md
Due: prettier --write, eslint --fix

Include the transformer setup script in the package
  .changeset/witty-glasses-fry.md
  package.json
Due: none

Include the transformer setup script in the package (#5)
  .changeset/witty-glasses-fry.md
  package.json
Due: none

Fix transformer setup function typing
  .changeset/hot-adults-argue.md
  setup/transformers.ts
Due: prettier --write, eslint --fix

Add comment
  setup/transformers.ts
Due: prettier --write, eslint --fix

Fix transformer setup function typing (#7)
  .changeset/hot-adults-argue.md
  setup/transformers.ts
Due: prettier --write, eslint --fix

Add color prop
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Add changeset
  .changeset/sour-aliens-agree.md
Due: none

Color prop (#9)
  .changeset/sour-aliens-agree.md
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Override Shiki colors based on the window mockup color setting. Accept options from the markdown syntax
  .vscode/settings.json
  components/WindowMockup.vue
  setup/transformers.ts
  slides.md
Due: prettier --write, eslint --fix

Add changeset
  .changeset/afraid-wombats-check.md
  .changeset/evil-sites-tickle.md
Due: none

fix
  components/WindowMockup.vue
Due: prettier --write, eslint --fix

Code block color scheme (#11)
  .changeset/afraid-wombats-check.md
  .changeset/evil-sites-tickle.md
  .vscode/settings.json
  components/WindowMockup.vue
  setup/transformers.ts
  slides.md
Due: prettier --write, eslint --fix

Fix titlebar margin
  components/WindowMockup.vue
Due: prettier --write, eslint --fix

Add changeset
  .changeset/small-bags-smoke.md
Due: none

Title prop from Markdown codeblock
  components/test.test.js
  eslint.config.js
  setup/transformers.ts
  slides.md
  test/__snapshots__/transform.test.ts.snap
  test/_tutils.ts
  test/transform.test.ts
Due: prettier --write, eslint --fix

Add changeset
  .changeset/shaky-clocks-cheat.md
Due: none

Add comment
  test/_tutils.ts
Due: prettier --write, eslint --fix

Add tests
  test/__snapshots__/transform.test.ts.snap
  test/transform.test.ts
Due: prettier --write, eslint --fix

Add sample
  slides.md
Due: none

Get title prop from markdown codeblock syntax (#13)
  .changeset/shaky-clocks-cheat.md
  components/test.test.js
  eslint.config.js
  setup/transformers.ts
  slides.md
  test/__snapshots__/transform.test.ts.snap
  test/_tutils.ts
  test/transform.test.ts
Due: prettier --write, eslint --fix

Place the title at the center
  components/WindowMockup.vue
Due: prettier --write, eslint --fix

Improve the title positioning
  components/WindowMockup.vue
  setup/transformers.ts
  slides.md
Due: prettier --write, eslint --fix

Update sample
  slides.md
Due: none

fix
  slides.md
Due: none

Fix titlebar style (#12)
  .changeset/small-bags-smoke.md
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Make padding customizable on markdown codeblock syntax
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Make padding customizable on markdown codeblock syntax (#15)
  components/WindowMockup.vue
  slides.md
Due: prettier --write, eslint --fix

Delete unnecessary prefix from CSS classes and variables
  components/WindowMockup.vue
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,jsx,tsx,vue}) or (any of: *.css)) or (any of: README.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,vue}
